/* Reset básico para asegurar consistencia en todos los navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0D0D0D;
  color: #EAEAEA;
  font-family: 'Galvji', sans-serif;
  line-height: 1.6;
}

header {
  background-color: #222222;
  color: white;
  padding: 40px 0;
  border-radius: 20px;
  margin: 2% 5%;
}

nav {
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #666;
}

.intro h1,
.intro h2 {
  text-align: center;
  background: linear-gradient(to right, #4a90e2, #8400ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro img {
  width: 90%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
  margin: 20px auto;
}

footer {
  padding: 20px 0;
  text-align: center;
  background-color: #222;
  color: white;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .burger-menu {
      display: block;
  }

  .navbar-links {
      display: none;
  }
}