/* Desktop Version */

.Mobile-Working {
    display: none;
}

.Mobile {
    display: none;
}

/* Body */
body {
  background-color: black;
  color: white;
  font-family: 'Galvji', sans-serif;
}

/* Navigation Bar CSS */
header {
  background-color: #222222;
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

nav {
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

nav a:hover {
  border-radius: 20px;
  background-color: #666;
}

/* #Intro CSS */
#intro {
  position: relative; /* Ensure the container is a positioning context */
  text-align: center; /* Center the content horizontally */
}

#intro h1 {
  font-size: 64px;
  text-align: center; /* Center the text horizontally */
  background: linear-gradient(to right, #4a90e2, #8400ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  display: block; /* Ensure the image behaves like a block */
  margin: 0 auto; /* Center the image horizontally */
}

#intro h2 {
  font-size: 32px;
  text-align: center; /* Center the text horizontally */
  background: linear-gradient(to right, #4a90e2, #8400ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Styles for the grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns of equal size */
  gap: 20px; /* Gap between grid cells */
  margin-top: 40px;
  background-color: #171717;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

/* Styles for elements inside the grid */
.grid-item {
  padding: 20px;
  text-align: center;
  align-content: center;
}

.grid-item p {
  text-align: justify;
  padding-left: 2%;
  padding-right: 2%;
}

.grid-item h2 {
  font-size: 32px;
  text-align: center; /* Center the text horizontally */
  background: linear-gradient(to right, #4a90e2, #8400ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-item img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  margin: 0 auto;
}

#technews {
  background: linear-gradient(to right, #4a90e2, #8400ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#mail {
  background: linear-gradient(to right, #4a90e2, #8400ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Footer's CSS */
footer {
  background-color: #222222;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer-content {
  margin-bottom: 20px;
}

.footer-content h2 {
  margin-bottom: 10px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  display: inline;
  margin-right: 10px;
}

.footer-content ul li:last-child {
  margin-right: 0;
}

.footer-content ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-content ul li a:hover {
  color: #ccc;
}

/* Mobile Version Working */
@media only screen and (max-width: 480px) {
    .Desktop {
        display: none;
    }
  
    .Mobile-Working {
        display: block;
    }
  
    .Mobile-Working h1 {
        text-align: center;
        font-size: 20px;
    } 
    
    .Mobile-Working h2 {
        text-align: center;
        font-size: 16px;
    }

    .Mobile-Working img {
        text-align: center;
        margin: 2%;
        width: 100px;
        height: auto;
    }
}